In [3]:
# Import packages
import pandas as pd
import miniTidyPy as mt

In [6]:
# Create toy data
sample_df = pd.DataFrame({'city': ['Vancouver', 'Burnaby', 'Richmond'], 'morning': [12, 20, 15], 'evening': [5, 8 ,3], 'midnight' : [-1,2, None]})
sample_df

        city  morning  evening  midnight
0  Vancouver       12        5      -1.0
1    Burnaby       20        8       2.0
2   Richmond       15        3       NaN

In [8]:
# Apply my_dropna to drop the rows containing "NA" values
dropna_df = mt.my_dropna(sample_df)
dropna_df

        city  morning  evening  midnight
0  Vancouver       12        5      -1.0
1    Burnaby       20        8       2.0

In [16]:
# Apply my_gather to transform data frame by combining columns
gather_df = mt.my_gather(dropna_df, keyname = 'time', valuename = 'value', keys = ['morning','evening', 'midnight'])
gather_df

        city      time  value
0  Vancouver   morning   12.0
1    Burnaby   morning   20.0
2  Vancouver   evening    5.0
3    Burnaby   evening    8.0
4  Vancouver  midnight   -1.0
5    Burnaby  midnight    2.0

In [17]:
# Apply my_spread to separate existing columns into multiple columns
spread_df = mt.my_spread(gather_df, key = 'time', value = 'value')
spread_df

        city  morning  evening  midnight
0  Vancouver     12.0      5.0      -1.0
1    Burnaby     20.0      8.0       2.0